@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  margin: 0;
}

.logo-font {
  font-family: 'Rampart One', cursive;
}

.stackoverflou-home {
  font-size: 2rem;
}

@media only screen and (min-device-width: 768px) {
  .stackoverflou-home {
    font-size: 8rem;
  }
}
